header {
  min-height: 300px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('images/drew-coffman.jpg');
  background-color: #000;
  background-size: cover;
  background-position: bottom;
  width: 100%;
  position: relative;
}

main .intro-text h2 {
  font-family: 'Alegreya Sans', sans-serif;
  margin-top: 70px;
}

header .nav-wrapper {
  background-color: #fff;
  height: 90px;
  color: black;
  z-index: 1;
  /* width: 100% */
}

header .logo-list a {
  color: rgb(133, 133, 133);
}

header .logo-list a:hover {
  color: rgb(46, 46, 46);
}

.full-wrapper {
  background-color: #fff;
  height: 90px;
  width: 100%;
  position: fixed;
  top: 0;
}

.baking-container {
  text-align: left;
  margin-top: 0;
}

.social-status {
  background-color: #8e7754;
  color: #ddd;
}

.social-status .wrapper div {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 20%;
}
.social-status div p:nth-of-type(3) {
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
}

.social-status div p:nth-of-type(2) {
  font-size: 3rem;
}
